{% extends 'layout.html' %}
{% block title %}
{{ super() }}
Lista de Denuncias
{% endblock %}

{% block main %}
{% for denuncia in denuncias %}
<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{denuncia.fecha}}
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        {{denuncia.denuncia}}
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Editar</a>
      <a href="#" class="card-footer-item">Eliminar</a>
    </footer>
  </div><br><br>

{% endfor %}
<a class="button is-danger" href="{{ url_for('index') }}">Volver</a>
{% endblock %}